name: Docker Mirror

on:
  push:
    branches:
    - main
  workflow_dispatch:
  schedule:
  - cron: "0 16 * * *"

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Docker pull
      run: docker pull imagemirror/imagemirror:dev

    - name: docker run imagemirror
      run: |
        docker run --rm imagemirror/imagemirror:dev \
        -v images.json:/app/images.json:ro \
        -e RUN_ONCE=true \
        -e TARGET_REGISTRY="${{ vars.REGISTRY }}" \
        -e TARGET_USERNAME="${{ vars.USERNAME }}" \
        -e TARGET_PASSWORD="${{ secrets.PASSWORD }}" \
