name: Docker Mirror

on:
  push:
    branches:
    - main
  workflow_dispatch:
  schedule:
  - cron: "0 16 * * *"

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Setup Crane
      uses: imjasonh/setup-crane@v0.4

    - name: Docker Login
      uses: docker/login-action@v3
      with:
        registry: ${{ vars.REGISTRY }}
        username: ${{ vars.USERNAME }}
        password: ${{ secrets.PASSWORD }}

    - name: Docker Login
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Chmod
      run: chmod +x imageporter.sh

    - name: Run Imageporter
      run: ./imageporter.sh
