name: Docker Mirror

on:
  push:
    branches:
    - main
  workflow_dispatch:
  schedule:
  - cron: "0 16 * * *"

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: List files
      run: ls -l ${{ github.workspace }}

    - name: Docker pull
      run: docker pull imageporter/imageporter:dev

    - name: Test files
      run: |
        docker run --rm imageporter/imageporter:dev \
        -v ${{ github.workspace }}:/app \
        --entrypoint sh -c "cat /app/images.json"

    - name: docker run imageporter
      run: |
        docker run --rm imageporter/imageporter:dev \
        -v "${{ github.workspace }}:/app" \
        -e "RUN_ONCE=true" \
        -e "TARGET_REGISTRY=${{ vars.REGISTRY }}" \
        -e "TARGET_USERNAME=${{ vars.USERNAME }}" \
        -e "TARGET_PASSWORD=${{ secrets.PASSWORD }}"
